body {
  font-family: Helvetica, Arial, sans-serif;
  color: #444444;
}

/* @group links */
:focus {
  outline: 1px dotted #777777;
  color: #006666;
}

a:link {
  color: #009999;
}
a:visited {
  color: #990099;
}
a:focus, a:hover, a:active {
  color: #006666;
  text-decoration: none;
}

/* @end */
/* @group headers */
h1, h2, h3, h4, h5, h6 {
  color: #333333;
  font-weight: bold;
}

h1, h2, h3 {
  font-family: Baskerville, Palatino, serif;
}

h1 {
  font-size: 1.5em;
}

/* @end */
/* @group forms */
form *:focus {
  outline: none;
}

fieldset {
  margin: 1.5em 0;
}

legend {
  font-weight: bold;
  font-variant: small-caps;
}

label {
  display: block;
  margin-top: 1.5em;
}

legend + label {
  margin-top: 0;
}

textarea, input[type="text"] {
  color: #777777;
  /* Mozilla (FireFox, Camino) */
  -moz-box-sizing: border-box;
  /* Webkit (Safari, Chrome) */
  -webkit-box-sizing: border-box;
  /* IE (8) */
  -ms-box-sizing: border-box;
  /* CSS3 */
  box-sizing: border-box;
  width: 100%;
}

/* @end */
/* @group tables */
/* tables still need 'cellspacing="0"' in the markup */
table {
  width: 100%;
  border: 0.063em solid #aaaaaa;
  border-left: none;
  border-right: none;
  padding: 0.438em 0;
  margin: 0.5em 0;
}

tbody {
  color: #777777;
}

th {
  font-weight: bold;
}

/* @end */
/* @group block tags */
p {
  margin: 1.5em 0;
}

ol {
  list-style: decimal;
  margin: 0 1.5em 1.5em 1.5em;
}

ul {
  list-style: disc;
  margin: 0 1.5em 1.5em 1.5em;
}

blockquote {
  margin: 1.5em;
  color: #777777;
}

/* @end */
/* @group inline tags */
cite {
  font-style: italic;
  color: #777777;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

ins {
  text-decoration: underline;
}

del {
  text-decoration: line-through;
}

q {
  font-style: italic;
}
q em {
  font-style: normal;
}

/* @end */
/* @group replaced tags */
img {
  vertical-align: bottom;
}

/* @end */

body#main {
  text-align: center;
  font-size: 100%;
  line-height: 1.5em;
  width: 1024px;
  background-color: black;
  background-image: url("../images/bgTmp.gif");
  background-position: 50%;
  background-repeat: repeat-y;
  margin-left: auto;
  margin-right: auto;
}
body#main .container {
  overflow: hidden;
  display: inline-block;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 61em;
  max-width: 100%;
  font-family: Helvetica, Arial, sans-serif;
}
body#main .container {
  display: block;
}
body#main #logo {
  float: left;
  background-image: url("../images/logoTmp.gif");
  background-repeat: no-repeat;
  padding-bottom: 10px;
  width: 31.148%;
  display: inline;
  float: left;
  margin-right: 1.639%;
  padding-right: 65.574%;
  clear: both;
  margin-right: 1.639%;
  margin-left: 1.639%;
  height: 146px;
}
body#main .navBar {
  padding-left: 24.59%;
  width: 72.131%;
  display: inline;
  float: left;
  margin-right: 1.639%;
  clear: both;
  margin-right: 1.639%;
  margin-left: 1.639%;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  display: inline-block;
  float: right;
}
body#main .navBar li {
  width: 100px;
  height: 30px;
}
body#main .navBar {
  display: block;
}
body#main .navBar li {
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
body#main .navBar li.first {
  padding-left: 0px;
}
body#main .navBar li.last {
  padding-right: 0px;
}
body#main .navBar .about {
  text-indent: -9999em;
  overflow: hidden;
  background-image: url('/site/images/../images/aboutTmp.gif?');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
body#main .navBar .food {
  text-indent: -9999em;
  overflow: hidden;
  background-image: url('/site/images/../images/foodTmp.gif?');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
body#main .navBar .flowers {
  text-indent: -9999em;
  overflow: hidden;
  background-image: url('/site/images/../images/flowersTmp.gif?');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
body#main .navBar .decor {
  text-indent: -9999em;
  overflow: hidden;
  background-image: url('/site/images/../images/decorTmp.gif?');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
body#main .navBar .weddings {
  text-indent: -9999em;
  overflow: hidden;
  background-image: url('/site/images/../images/weddingsTmp.gif?');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding-top: 5px;
}
body#main .navBar .contact {
  text-indent: -9999em;
  overflow: hidden;
  background-image: url('/site/images/../images/contactTmp.gif?');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin-left: 11px;
}
body#main #bodyContent {
  margin-top: 5em;
  width: 96.721%;
  display: inline;
  float: left;
  margin-right: 1.639%;
  margin-left: 1.639%;
}
body#main #bodyContent #bodyText {
  width: 49.153%;
  display: inline;
  float: left;
  margin-right: 1.695%;
}
body#main #bodyContent #imageArea {
  width: 49.153%;
  display: inline;
  float: left;
  margin-right: 1.695%;
  display: inline;
  float: right;
  margin-right: 0;
  /* ugly hacks for IE6-7 */
  #margin-right: -1%;
  /* end ugly hacks */
}
body#main #bodyContent #imageArea #pane {
  width: 82.759%;
  display: inline;
  float: left;
  margin-right: 3.448%;
  width: 350px;
  height: 350px;
  border: white solid;
}
body#main #bodyContent #imageArea #thumbs {
  width: 13.793%;
  display: inline;
  float: left;
  margin-right: 3.448%;
  display: inline;
  float: right;
  margin-right: 0;
  /* ugly hacks for IE6-7 */
  #margin-right: -1%;
  /* end ugly hacks */
}
body#main #bodyContent #imageArea #thumbs .thumb {
  margin-bottom: 5px;
  width: 50px;
  height: 50px;
  border: white solid;
}
body#main #footer {
  width: 96.721%;
  display: inline;
  float: left;
  margin-right: 1.639%;
  padding-top: 200px;
  height: 200px;
}
body#main #footer #recentEvents {
  text-align: left;
  width: 96.721%;
  display: inline;
  float: left;
  margin-right: 1.639%;
  clear: both;
  margin-right: 1.639%;
  margin-left: 1.639%;
  padding-bottom: 15px;
  background-image: url("../images/recentEventsTmp.gif");
  float: left;
  background-repeat: no-repeat;
  height: 27px;
}
body#main #footer .recentPics {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  display: inline-block;
  width: 96.721%;
  display: inline;
  float: left;
  margin-right: 1.639%;
  clear: both;
  margin-right: 1.639%;
  margin-left: 1.639%;
  height: 92px;
}
body#main #footer .recentPics {
  display: block;
}
body#main #footer .recentPics li {
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
body#main #footer .recentPics li.first {
  padding-left: 0px;
}
body#main #footer .recentPics li.last {
  padding-right: 0px;
}
body#main #footer .img {
  width: 122px;
  height: 92px;
  background-repeat: no-repeat;
}
body#main #footer #img1 {
  background-image: url("../images/pic1tmp.gif");
}
body#main #footer #img2 {
  background-image: url("../images/pic2tmp.gif");
}
body#main #footer #img3 {
  background-image: url("../images/pic3tmp.gif");
}
