/* *
 * OMEGA_FLOAT
 * By default, +omega elements are floated right.
 * You can override that globally here: */
body {
  font-family: Helvetica, Arial, sans-serif;
  color: #444444;
}

/* @group links */
:focus {
  outline: 1px dotted #777777;
  color: #006666;
}

a:link {
  color: #009999;
}
a:visited {
  color: #990099;
}
a:focus, a:hover, a:active {
  color: #006666;
  text-decoration: none;
}

/* @end */
/* @group headers */
h1, h2, h3, h4, h5, h6 {
  color: #333333;
  font-weight: bold;
}

h1, h2, h3 {
  font-family: Baskerville, Palatino, serif;
}

h1 {
  font-size: 1.5em;
}

/* @end */
/* @group forms */
form *:focus {
  outline: none;
}

fieldset {
  margin: 1.5em 0;
}

legend {
  font-weight: bold;
  font-variant: small-caps;
}

label {
  display: block;
  margin-top: 1.5em;
}

legend + label {
  margin-top: 0;
}

textarea, input[type="text"] {
  color: #777777;
  /* Mozilla (FireFox, Camino) */
  -moz-box-sizing: border-box;
  /* Webkit (Safari, Chrome) */
  -webkit-box-sizing: border-box;
  /* IE (8) */
  -ms-box-sizing: border-box;
  /* CSS3 */
  box-sizing: border-box;
  width: 100%;
}

/* @end */
/* @group tables */
/* tables still need 'cellspacing="0"' in the markup */
table {
  width: 100%;
  border: 0.063em solid #aaaaaa;
  border-left: none;
  border-right: none;
  padding: 0.438em 0;
  margin: 0.5em 0;
}

tbody {
  color: #777777;
}

th {
  font-weight: bold;
}

/* @end */
/* @group block tags */
p {
  margin: 1.5em 0;
}

ol {
  list-style: decimal;
  margin: 0 1.5em 1.5em 1.5em;
}

ul {
  list-style: disc;
  margin: 0 1.5em 1.5em 1.5em;
}

blockquote {
  margin: 1.5em;
  color: #777777;
}

/* @end */
/* @group inline tags */
cite {
  font-style: italic;
  color: #777777;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

ins {
  text-decoration: underline;
}

del {
  text-decoration: line-through;
}

q {
  font-style: italic;
}
q em {
  font-style: normal;
}

/* @end */
/* @group replaced tags */
img {
  vertical-align: bottom;
}

/* @end *i */
.navBar {
  height: 20px;
  padding-top: 17px;
  padding-left: 23.81%;
  width: 69.841%;
  display: inline;
  float: left;
  margin-right: 1.587%;
  clear: both;
  margin-right: 3.175%;
  margin-left: 3.175%;
}

.navBar li a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
.navBar li:hover {
  text-decoration: none;
  curser: pointer;
}

li {
  width: 100px;
  height: 30px;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  display: inline-block;
  float: right;
}
li {
  display: block;
}
li li {
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
li li.first {
  padding-left: 0px;
}
li li.last {
  padding-right: 0px;
}

.about {
  background-image: url("/images/aboutTmp.gif");
  width: 60px;
  height: 17px;
}
.about:hover {
  background-image: url("/images/AboutOvr.gif);
}

.food {
  background-image: url("/images/foodTmp.gif");
  width: 47px;
  height: 17px;
  margin-left: 17px;
}
.food:hover {
  background-image: url("/images/FoodOvr.gif");
}

.flowers {
  background-image: url("/images/flowersTmp.gif");
  width: 75px;
  height: 17px;
  margin-left: 10px;
}
.flowers:hover {
  background-image: url("/images/FlowerOvr.gif");
}

.decor {
  background-image: url("/images/decorTmp.gif");
  width: 60px;
  height: 17px;
  margin-left: 19px;
}
.decor:hover {
  background-image: url("/images/DecorOvr.gif");
}

.weddings {
  background-image: url("/images/weddingsTmp.gif");
  width: 94px;
  height: 22px;
  background-repate: no-repeat;
  margin-right: 9px;
}
.weddings:hover {
  background-image: url("/images/WeddingsOvr.gif");
}

.contact {
  background-image: url("/images/contactTmp.gif");
  width: 79px;
  height: 18px;
  margin-right: 15px;
}
.contact:hover {
  background-image: url("/images/ContactOvr.gif");
}
.contact #contactInfo {
  padding-top: 40px;
  background-image: url("/images/contactInfoTmp.gif");
  height: 20px;
  width: 700px;
  width: 93.651%;
  display: inline;
  float: left;
  margin-right: 1.587%;
  clear: both;
  margin-right: 3.175%;
  margin-left: 3.175%;
}

body#weddings {
  text-align: center;
  font-size: 100%;
  line-height: 1.5em;
  width: 1024px;
  background-color: black;
  background-image: url("../images/bgTmp.gif");
  background-position: 50%;
  background-repeat: repeat-y;
  margin-left: auto;
  margin-right: auto;
}
body#weddings .container {
  overflow: hidden;
  display: inline-block;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 63em;
  max-width: 100%;
  font-family: Helvetica, Arial, sans-serif;
}
body#weddings .container {
  display: block;
}
body#weddings #logo {
  float: left;
  background-image: url("../images/logoTmp.gif");
  background-repeat: no-repeat;
  padding-bottom: 10px;
  width: 30.159%;
  display: inline;
  float: left;
  margin-right: 1.587%;
  padding-right: 63.492%;
  clear: both;
  margin-right: 3.175%;
  margin-left: 3.175%;
  height: 146px;
}
body#weddings #logo a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
body#weddings #logo:hover {
  text-decoration: none;
  curser: pointer;
}
body#weddings .overlay {
  position: absolute;
  width: 1024px;
  top: 210px;
  z-index: -1;
  background-image: url("../images/weddingColo.png");
  background-repeat: repeat-x repeat-y;
  height: 550px;
}
body#weddings #bodyContent {
  margin-top: 2em;
  position: static;
  height: 500px;
  width: 1000px;
  float: right;
  background-image: url("../images/WeddingsMiddle.png" );
  background-repeat: no-repeat;
}
body#weddings #contactInfo {
  position: relative;
  top: 25px;
  background-image: url("/images/contactInfoTmp.gif");
  background-repeat: no-repeat;
  position: relative;
  left: 175px;
  height: 50px;
  width: 700px;
  width: 93.651%;
  display: inline;
  float: left;
  margin-right: 1.587%;
  clear: both;
  margin-right: 3.175%;
  margin-left: 3.175%;
}
