%html
  %head
    %link{ :href => "stylesheets/screen.css", :rel => "stylesheet", :type => "text/css" }
    %link{ :href => "stylesheets/print.css", :rel => "stylesheet", :type => "text/css" }
    %link{ :href => "stylesheets/contact.css", :rel => "stylesheet", :type => "text/css" }
  %title Contact
   
  %body#contact
    .overlay
    .container
      #header
        #logo
          %a(href="./index.html")
        %ul.navBar 
          %li
            .about.first 
              %a(href="./about.html")
          %li
            .food 
              %a(href="./food.html")
          %li
            .flowers 
              %a(href="./flowers.html")
          %li
            .decor 
              %a(href="./decor.html")
          %li
            .weddings 
              %a(href="./weddings.html")
          %li
            .contact 
              %a(href="./contact.html")
               
  #bodyContent
    #formContent  
      %form.dataForm{:action => "mailto:ericfode@gmail.com", :method=>"post", :enctype=>"text/plain" }
        Name:  
        %input.name(type="text"  name="Name")
        %br
        Email:      
        %input.email(type="text"name="email")
        %br  
        Inquire:    
        %textarea.inquire(type="textarea" rows=13 cols=4 name="inquire")
        %br
        %input.submit(type="submit")

      
  #contactInfo
  
